Xft.dpi:144
!===============================
! – Setting for xterm
! ——————–
XTerm*termName: xterm-256color
XTerm*locale: true
Xterm*utf8: true
XTerm*utf8Title: true
Xterm*xftAntialias: true
XTerm*fontMenu*fontdefault*Label: Default
XTerm*faceName: DejaVu Sans Mono Nerd Font Mono
XTerm*faceNameDoublesize: Source Han Sans CN
XTerm*faceSize: 10
XTerm*inputMethod: fcitx5
XTerm*background: #1C1C1C
XTerm*foreground: #FFFFFF
XTerm.vt100.metaSendsEscape: true

*VT100*translations: #override \n\
    Shift <KeyPress> Insert: insert-selection(CLIPBOARD, CUT_BUFFER1) \n\
    ~Shift<BtnUp>: select-end(CLIPBOARD, CUT_BUFFER1)

XTerm*on2Clicks: regex [^]\[ ,:;<>\(\)\n]+
XTerm*on3Clicks: regex ^.*$

!———————-
!- End of setting Xterm
!=========================
